.container{
    background-color: white;
}
#creatorIcon{
    width: 40px;
    height: 40px;
}
.media{
    margin-bottom: 15px;
}
.media-description{
    margin: 0px;
}
.media-data{
    margin: 0px;
    color: #999;
}
.pagination{
    margin: 0px auto 10px;
}