.container{
    background-color: white;
}
#creatorIcon{
    width: 40px;
    height: 40px;
}
.media{
    margin-bottom: 15px;
}
.media-description{
    margin: 0px;
}
.media-data{
    margin: 0px;
    color: #999;
}
#search .input-group-addon button{
    border-width: 0px;
}

#search .input-group-addon {
    padding: 0px;
}
.pagination{
    margin: 0px auto 10px;
}