.container{
    /*margin-top: 50px;*/
    background-color: white;
}
#info{
    box-sizing: border-box;
}
#commit{
     float: right;
     margin-bottom: 20px;
}
#tip{
    padding: 20px;
}
blockquote .small:before{
    content: none;
}
textarea{
    resize: none;
}
#writeTip{
    float: right;
}
#search .input-group-addon button{
    border-width: 0px;
}

#search .input-group-addon {
    padding: 0px;
}