.container{
    /*margin-top: 50px;*/
    background-color: white;
}
#info{
    box-sizing: border-box;
}
#commit{
     float: right;
     margin-bottom: 20px;
}
#tip{
    padding: 20px;
}
blockquote .small:before{
    content: none;
}
textarea{
    resize: none;
}
#writeTip{
    float: right;
}